.body {
    grid-area: 2/1/3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 25px;
}

.expenses {
    grid-area: 1/1/2/2;
    background-color: darkviolet;
    height: 250px;


}

.salary {
    grid-area: 1/3/2/4;
    background-color: gold;
}

.accumulation {
    grid-area: 2/2/3/3;
    background-color: aqua;
}

.photo {
    grid-area: 1/2/2/3;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfX3Yv3C_XPgw3TBiIEAs0dw4kYvGV3RPJ7Q&usqp=CAU");
    background-size: cover;
    background-position: center;
}

.item a {
    text-decoration: none;
    color: white;
}
